.idea
WebApi/bin/Debug/netcoreapp3.1/appsettings.Development.json
WebApi/bin/Debug/netcoreapp3.1/appsettings.json
WebApi/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
WebApi/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
WebApi/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
WebApi/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
WebApi/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
WebApi/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
WebApi/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
WebApi/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
WebApi/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
WebApi/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
WebApi/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
WebApi/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
WebApi/bin/Debug/netcoreapp3.1/WebApi.deps.json
WebApi/bin/Debug/netcoreapp3.1/WebApi.dll
WebApi/bin/Debug/netcoreapp3.1/WebApi.pdb
WebApi/bin/Debug/netcoreapp3.1/WebApi.runtimeconfig.dev.json
WebApi/bin/Debug/netcoreapp3.1/WebApi.runtimeconfig.json
WebApi/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
WebApi/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
WebApi/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebApi/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
WebApi/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebApi/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
WebApi/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebApi/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
WebApi/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebApi/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
WebApi/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebApi/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
WebApi/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebApi/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
WebApi/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebApi/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
WebApi/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebApi/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
WebApi/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebApi/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
WebApi/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebApi/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
WebApi/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebApi/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
WebApi/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebApi/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
WebApi/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebApi/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
WebApi/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebApi/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
WebApi/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebApi/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
WebApi/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebApi/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
WebApi/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebApi/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
WebApi/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebApi/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
WebApi/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebApi/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
WebApi/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebApi/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
WebApi/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
WebApi/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
WebApi/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
WebApi/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
WebApi/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
WebApi/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
WebApi/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
WebApi/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
WebApi/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebApi/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
WebApi/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebApi/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
WebApi/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebApi/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
WebApi/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebApi/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
WebApi/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
WebApi/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
WebApi/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
WebApi/.idea/.idea.WebApi/.idea/contentModel.xml
WebApi/appsettings.json
